# Ignore everything in the output, interim folder and in book/cache, ignore raw data folder
/data/land_use/*
/data/output/*
/data/interim/*
/data/book/cache/*
/src/__pycache__/*
/raw_data/*

# Except the to_repo folder
!/data/output/to_repo/
!/data/output/to_repo/**
data/population/cbs_vk100_2024_v1.gpkg
/__pycache__
